body, html {
    background-color: gray;
    height: 100%;
}

#videos {
    position: relative;
    width: 1000px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    float: left;
    height: 250px;
    z-index: 10;
}

#publisher {
    margin-top: 15px; 
    width: 150px;
    height: 150px;
    z-index: 100;
}

#publisher.div {
    border: 3px solid white;
    border-radius: 3px;
}

#subscriber-child div.OT_root{
    position: relative;
    min-width: 150px;
    min-height: 150px;
    float:left !important;  
    margin: 10px;  
}
